body {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 250px;
    border-radius: 55%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/Stripper.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

#gift-img-fabulous:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHV2anB2b3V1MG9naHZpaWIwbjVhOHhzZ2xoZjJjd2dnZHh0MmM2eSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/bOAOvT1xidANW/giphy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#gift-img-badass:hover {
    background-image: url("images/Abs_39.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#gift-img-cheers:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaDhqNDdkZjJ2cWpmcGoyNW5lMGNibzY1aXBtbzJoNWtxN2Nqa3d6MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/jUDvU0mBA9trNjOV3e/giphy.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}